@page
@model MyBookApp.Pages.TestDictModel
@{
    
}

<div class="col-12 border p-3 mt-3">
<form method="post">
    <p></p>
    @*@foreach (var item in Model.keyValuePairs)
    {
        <p>@item.Key @item.Value</p>
    }*@
</form>    
</div>